<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>Community</h1>
    <h3>Top countries visited:</h3>
    <p>1. <%= mostVisitedCountries[0].name %> - <%= mostVisitedCountries[0].visitors.length %> users</p>
    <p>2. <%= mostVisitedCountries[1].name %> - <%= mostVisitedCountries[1].visitors.length %> users</p>
    <p>3. <%= mostVisitedCountries[2].name %> - <%= mostVisitedCountries[2].visitors.length %> users</p>
    <h3>All countries visited by users:</h3>
    <ul>
        <% countries.forEach(country => { %>
            <% if (country.visitors.length !== 0) { %>
                <li><a href="/community/<%= country._id %>"><%= country.name %></a></li>
            <% } %>           
        <% }) %>
    </ul>

</body>
</html>