<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <script src="/js-scripts/comm.js" defer></script>
    <title>Community</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="main-div">
        <h1>Community</h1>
        <h3>Top countries visited</h3>
        <p><strong>1. <%= mostVisitedCountries[0].name %></strong> - <%= mostVisitedCountries[0].visitors.length %> users</p>
        <p><strong>2. <%= mostVisitedCountries[1].name %> </strong>- <%= mostVisitedCountries[1].visitors.length %> users</p>
        <p><strong>3. <%= mostVisitedCountries[2].name %> </strong>- <%= mostVisitedCountries[2].visitors.length %> users</p>
        
        <h3>All countries visited by users</h3>
        <p>Click on a country to see which users have been and their highlights and tips!</p>
        <form>
            <input type="text" placeholder="Search" id="search-input">
        </form>
        <ul>
            <% countries.forEach(country => { %>
                <% if (country.visitors.length !== 0) { %>
                    <li class="comm-countries"><a href="/community/<%= country._id %>"><%= country.name %></a></li>
                <% } %>           
            <% }) %>
        </ul>
    </div>
</body>
</html>