<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community: <%= country.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1><%= country.name %></h1>
    <h3>Users been: <%= country.visitors.length %></h3>
    <% country.visitors.forEach(visitor => { %>
        <p><%= visitor.username %></p>
    <% }) %>
    <h3>Users' highlights:</h3>
    <% country.visits.forEach(visit => { %>
        <p><%= visit.highlights %></p>
    <% }) %>
    <h3>Users' travel tips:</h3>
    <% country.visits.forEach(visit => { %>
        <p><%= visit.travellerTips %></p>
    <% }) %>
    <a href="/community">Back to Community home</a>
</body>
</html>