<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <title>Community: <%= country.name %></title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <div class="main-div">
    <h1><%= country.name %></h1>

    <h3>Users been </h3>
    <% visitorsDataOn.forEach(visitor => { %>
        <p><%= visitor.username %></p>
    <% }) %>

    <h3>Users' highlights</h3>
    <% visitsDataOn.forEach(visit => { %>
        <% if (visit.highlights) { %>
            <p><strong><%= visit.createdBy.username %>:</strong> <%= visit.highlights %></p>
        <% } %>  
    <% }) %>

    <h3>Users' travel tips</h3>
    <% visitsDataOn.forEach(visit => { %>
        <% if (visit.travellerTips) { %>
            <p><strong><%= visit.createdBy.username %>:</strong> <%= visit.travellerTips %></p>
        <% } %>  
    <% }) %>

    <p><a href="/community">Back to Community home</a></p>
    </div>
</body>
</html>