<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/user-index.css" type="text/css">
    <script src="/js-scripts/user.js" defer></script>
    <title>My Countries</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>
    <h1>My Countries</h1>    
    <div id="stats-div">
        <h2>Total countries: <%= userCountries.length %></h2>
        <h2>World visited: <%= Math.floor(userCountries.length / 195 * 100) %>%</h2>
    </div>    
    <div id="map-div">
        <%- include ("../world.svg") %>
    </div>    
    <div>
        <h3>Countries been</h3>
        <button class="add-btns"> 
            <a href="/user/<%= user.userId %>/new-country" >Add a country</a>
        </button>
        <div>
            <ul id="user-countries">
                <% userCountries.forEach(userCountry => { %>
                <li class="<%= userCountry.countryCode %>"><%= userCountry.name %> - 
                    <a href="/user/<%= user.userId %>/<%= userCountry._id %>">View visits</a>
                    <form action="/user/<%= user.userId %>/<%= userCountry._id %>?_method=DELETE" method="POST" id="delete-form"><button id="del-country-btn">Delete</button></form>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html>